# This is an example bond configuration and does not get applied to the cluster
# nodeSelector is optional
nodeSelector:
  node-role.kubernetes.io/master: ""
nmstate:
  interfaces:
    - name: bond1
      type: bond
      state: up
      mac-address: aa:bb:cc:dd:ee:ff
      ipv4:
        enabled: 'true'
        dhcp: 'true'
      ipv6:
        enabled: 'false'
      link-aggregation:
        mode: 802.3ad
        port:
          - eth0
          - eth1
