# This is an example vlan configuration and does not get applied to the cluster
# nodeSelector is optional
nodeSelector:
  node-role.kubernetes.io/master: ""
nmstate:
  interfaces:
    - name: bond1.50
      description: "VLAN 50"
      type: vlan
      state: up
      vlan:
        base-iface: bond1
        id: 50
      ipv4:
        enabled: true
        dhcp: true
